pom.xml
pom.xml.asc
*jar
.DS_Store
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
*.class
/.lein-*
/.nrepl-port
.idea/
.vscode/
.calva/
.lsp/
.clj-kondo/
.clojure-lsp/

.eastwood

/opt/open-company-interaction

.ruby-gemset
.ruby-version
