(ns oc.storage.db.migrations.create-entries
  (:require [rethinkdb.query :as r]
            [oc.lib.rethinkdb.migrations :as m]
            [oc.storage.config :as c]
            [oc.storage.resources.entry :as entry]))

(defn up [conn]
  
  (println "Creating table: " entry/table-name)
  (println (m/create-table conn c/db-name entry/table-name entry/primary-key))
  (println (m/create-index conn entry/table-name "topic-slug"))
  (println (m/create-index conn entry/table-name "board-uuid"))
  (println (m/create-index conn entry/table-name "org-uuid"))
  (println (m/create-compound-index conn entry/table-name "topic-slug-board-uuid"
              (r/fn [row] [(r/get-field row "topic-slug") (r/get-field row "board-uuid")])))
  (println (m/create-compound-index conn entry/table-name "topic-slug-org-uuid"
              (r/fn [row] [(r/get-field row "topic-slug") (r/get-field row "org-uuid")])))
  (println (m/create-compound-index conn entry/table-name "created-at-topic-slug-board-uuid"
              (r/fn [row] [(r/get-field row "created-at") (r/get-field row "topic-slug") (r/get-field row "board-uuid")])))
  (println (m/create-compound-index conn entry/table-name "created-at-topic-slug-org-uuid"
              (r/fn [row] [(r/get-field row "created-at") (r/get-field row "topic-slug") (r/get-field row "org-uuid")])))
  true) ; return true on success