(ns oc.storage.db.migrations.create-stories
  (:require [rethinkdb.query :as r]
            [oc.lib.db.migrations :as m]
            [oc.storage.config :as c]
            [oc.storage.resources.story :as story]))

(defn up [conn]
  
  (println "Creating table: " story/table-name)
  (println (m/create-table conn c/db-name story/table-name story/primary-key))
  (println (m/create-index conn story/table-name "slug"))
  (println (m/create-index conn story/table-name "board-uuid"))
  (println (m/create-index conn story/table-name "org-uuid"))

  (println (m/create-compound-index conn story/table-name "status-board-uuid"
              (r/fn [row] [(r/get-field row "status")
                           (r/get-field row "board-uuid")])))

  (println (m/create-compound-index conn story/table-name "status-org-uuid"
              (r/fn [row] [(r/get-field row "status")
                           (r/get-field row "org-uuid")])))

  (println (m/create-compound-index conn story/table-name "slug-board-uuid-org-uuid"
              (r/fn [row] [(r/get-field row "slug")
                           (r/get-field row "board-uuid")
                           (r/get-field row "org-uuid")])))

  (println (m/create-compound-index conn story/table-name "slack-thread-channel-id-thread"
              (r/fn [row] [(r/get-field row ["slack-thread" "channel-id"]) (r/get-field row ["slack-thread" "thread"])])))

  true) ; return true on success