(ns oc.storage.db.migrations.add-must-see-to-post
  (:require [rethinkdb.query :as r]
            [oc.lib.db.migrations :as m]
            [oc.lib.db.common :as db-common]
            [oc.storage.resources.entry :as entry]
            [oc.storage.config :as config]))

(defn up [conn]
  (println "Add new property (must-see) to existing entries...")
  (-> (r/table entry/table-name)
      (r/update (r/fn [e] {:must-see false}))
      (r/run conn))

  true) ; return true on success