(ns oc.storage.db.migrations.create-follow-ups-index
  (:require [rethinkdb.query :as r]
            [oc.lib.db.migrations :as m]
            [oc.storage.config :as config]
            [oc.storage.resources.entry :as entry]))

(defn up [conn]
  ;; Do great things
  true) ; return true on success

(defn up [conn]
  ;; Do great things
  (println (m/create-compound-index conn entry/table-name "status-follow-ups-completed?-assignee-user-id"
    (r/fn [row] (r/concat-map (r/get-field row "follow-ups")
                   (r/fn [follow-up-row]
                     [(r/get-field row "status")
                      (r/get-field follow-up-row "completed?")
                      (r/get-field
                       (r/get-field follow-up-row "assignee")
                       "user-id")])))))
  true) ; return true on success