(ns oc.storage.db.migrations.fix-resource-uuid-comment-index
  (:require [rethinkdb.query :as r]
            [oc.lib.db.migrations :as m]
            [oc.storage.resources.common :as common]))

(defn up [conn]
  ;; Do great things
  (println (m/remove-index conn common/interaction-table-name "resource-uuid-comment"))
  (println (m/create-compound-index conn common/interaction-table-name :resource-uuid-comment
            (r/fn [row]
              [(r/get-field row :resource-uuid)
               (-> (r/get-field row :body)
                   (r/default false)
                   (r/coerce-to :bool))])))
  true) ; return true on success