{
  :boards [
    {
      :name "General"

      :entries [

        {
          :time-offset 30 ; 30 minutes ago
          :author {
            :avatar-url "https://d1wc0stj82keig.cloudfront.net/img/ML/happy_face_red.svg",
            :name "Alia Atreidis",
            :user-id "0000-0000-0000"
          }
          :headline "Carrot keeps us aligned! 🚀"
          :body "<p>It’s a struggle to keep everyone on the same page. Important information often gets missed or lost in fast moving conversations, and so everyone has a different idea of what’s important.</p><p>Carrot is a company digest that makes key information visible and easy to find, so everyone stays informed and aligned.</p>"
          :comments [
            {
              :time-offset 12 ; 12 minutes ago
              :body "<p>Welcome to Carrot! Super excited to have you on board.</p>"
              :author {
                :avatar-url "https://d1wc0stj82keig.cloudfront.net/img/ML/happy_face_green.svg",
                :name "Duncan Idaho",
                :user-id "0000-0000-0000"
              }
            }
          ]
          :reactions [
            {
              :time-offset 11 ; 11 minutes ago
              :reaction "👌"
              :author {
                :avatar-url "https://d1wc0stj82keig.cloudfront.net/img/ML/happy_face_yellow.svg",
                :name "Gurney Halleck",
                :user-id "0000-0000-0000"
              }
            }
          ]
        }
      ]
    }
  ]
}