{
  :boards [

    {
      :name "Announcements"
    }

    {
      :name "Welcome 👋"

      :entries [

       {
          :time-offset 30 ; 30 minutes ago
          :author {
            :avatar-url "https://avatars.slack-edge.com/2016-01-04/17691305283_beac02319067680e6936_512.jpg",
            :name "Stuart Levinson",
            :user-id "26ff-4483-9c07"
          }
          :headline "Boards make it easy to stay organized"
          :body "<p><img src=\"https://cdn.filestackcontent.com/QsIsbZW5QR6W2ZfbM6GY\" class=\"carrot-no-preview\" data-media-type=\"image\" data-thumbnail=\"https://cdn.filestackcontent.com/kJ5Y2k42ROe6qiKsQwM1\" width=\"4272\" height=\"1126\"></p>
          <p>Carrot makes it easy to post announcements, team updates, ideas and stories. Boards help you keep posts organized.</p>
          <p>Some sample board ideas are:</p>
          <ul>
          <li>CEO - important updates from the CEO</li>
          <li>General - company-wide announcements</li>
          <li>All-Hands - All-hands updates for employees</li>
          <li>Sales - the latest projections, wins and updates from the sales group</li>
          <li>Projects - lessons learned and the latest status of key projects</li>
          <li>Product - latest news and updates about company products, releases and new developments</li>
          <li>Who We Are - mission, values, key company resources</li>
          <li>HR - resources for employees, announcements regarding new policies</li>
          </ul>
          <p>You can also create boards to organize information you'd like to share with outside stakeholders, such as:</p>
          <ul><li>Investor Updates<br></li>
          <li>Friends and Family Updates</li>
          <li>Customer News</li>
          </ul>
          <p>Happy writing! ✍</p>
          <p>Team Carrot</p>"
        }

       {
          :time-offset 1440 ; 1 day ago in minutes
          :author {
            :avatar-url "https://avatars.slack-edge.com/2016-01-04/17691305283_beac02319067680e6936_512.jpg",
            :name "Stuart Levinson",
            :user-id "26ff-4483-9c07"
          }
          :headline "Inviting your team"
          :body "<p><img src=\"https://cdn.filestackcontent.com/4eTjAP4jRiKuJr5BCFa1\" class=\"carrot-no-preview\" data-media-type=\"image\" data-thumbnail=\"https://cdn.filestackcontent.com/3G6jtzfQhuUHaL4nzSrw\" width=\"640\" height=\"480\"></p>
          <p>Carrot is more fun when you let others in. Instead of relying on one person to create updates, opening it up provides an opportunity for anyone to say what they feel is important.</p>
          <p>Even if teams prefer to have a few people writing updates (e.g., managers), Carrot makes it easy for team members to react to the updates, comment and ask questions.</p>
          <p>When everyone gets involved, that's when you create real alignment.</p>
          <p>Click \"Invite People\" in the bottom left to invite your team.</p>
          <p>Happy collaborating!</p>
          <p>Team Carrot</p>"
        }

        {
          :time-offset 2880 ; 2 days ago in minutes
          :author {
            :avatar-url "https://cdn.filestackcontent.com/p6cwp6NQlelqYZzW05KR",
            :name "Sean Johnson",
            :user-id "afef-4a84-9f3d"
          }
          :headline "Adding images, video and charts"
          :body "<p>Want to add more color to your posts? Just hit the <b class=\"bold\">+</b> button to insert
          different types of media.</p><p>You can insert images from your computer, cloud services such as Dropbox,
          or a web search for the perfect image.</p>
          <p><img src=\"https://cdn.filestackcontent.com/kp9qpRkRSak4a27dwMbg\" class=\"carrot-no-preview\" data-media-type=\"image\" data-thumbnail=\"https://cdn.filestackcontent.com/qRug7yV8R7Stqf7hTviM\" width=\"3000\" height=\"2000\"></p>
          <p><br></p>
          <p>Videos can be embedded from Youtube and Vimeo, too.</p>
          <p><iframe class=\"carrot-no-preview\" frameborder=\"0\" webkitallowfullscreen=\"true\" mozallowfullscreen=\"true\" allowfullscreen=\"true\" data-thumbnail=\"https://img.youtube.com/vi/SB4N4xF2B2w/0.jpg\" data-video-type=\":youtube\" data-video-id=\"SB4N4xF2B2w\" src=\"https://www.youtube.com/embed/SB4N4xF2B2w\" width=\"560\" height=\"315\"></iframe></p>
          <p><br></p>
          <p>Using Google Sheets to chart data? It's easy to embed charts, and we'll keep them in sync, too.<iframe data-thumbnail=\"https://docs.google.com/spreadsheets/d/2PACX-1vRE6-VdWxpUZJwlUzH81Huk8blffFJe4ohRGkYe89MLNMGi_phY-ejDRjChr4SaQFqD6EmbsBF83b2K/embed/oimg?id=2PACX-1vRE6-VdWxpUZJwlUzH81Huk8blffFJe4ohRGkYe89MLNMGi_phY-ejDRjChr4SaQFqD6EmbsBF83b2K&amp;oid=1644804215&amp;disposition=ATTACHMENT&amp;bo=false&amp;zx=sohupy30u1p\" data-media-type=\"chart\" data-chart-id=\"2PACX-1vRE6-VdWxpUZJwlUzH81Huk8blffFJe4ohRGkYe89MLNMGi_phY-ejDRjChr4SaQFqD6EmbsBF83b2K\" src=\"/_/sheets-proxy/spreadsheets/d/e/2PACX-1vRE6-VdWxpUZJwlUzH81Huk8blffFJe4ohRGkYe89MLNMGi_phY-ejDRjChr4SaQFqD6EmbsBF83b2K/pubchart?oid=1644804215&amp;format=interactive\" class=\"carrot-no-preview\" width=\"550\" height=\"430\" frameborder=\"0\" webkitallowfullscreen=\"\" mozallowfullscreen=\"\" allowfullscreen=\"\"></iframe></p>
          <p>Have fun!</p>
          <p>Team Carrot</p>"
        }

        {
          :time-offset 4320 ; 3 days ago in minutes
          :author {
            :avatar-url "https://cdn.filestackcontent.com/p6cwp6NQlelqYZzW05KR",
            :name "Sean Johnson",
            :user-id "afef-4a84-9f3d"
          }
          :headline "<i>Formatting</i> and emoji 😸"
          :body "<p>It's easy to make your updates stand out.</p>
          <ul>
          <li>Highlight words while editing to make something <b class=\"bold\">bold </b>or <i>italics</i></li>
          <li>Add <a href=\"https://www.organicfacts.net/health-benefits/vegetable/carrots.html\">links</a></li>
          <li>Add a bulleted list like this one</li>
          </ul>
          <p>You can also add emojis with the emoji button visible when editing 🐶. Or type a colon \":\" and
          type the name of the emoji you want.</p>
          <p>Questions about editing? <a href=\"mailto:hello@carrot.io\">Let us know</a>.</p>
          <p>Happy editing!</p>
          <p>Team Carrot</p>"
        }
      ]
    }

    {
      :name "Who We Are"
    }
  ]
}