(ns open-company.db.migrations.add-update-medium
  (:require [rethinkdb.query :as r]
            [oc.lib.rethinkdb.migrations :as m]))

(defn up [conn]
  (-> (r/table "stakeholder_updates")
    (r/update {:medium :legacy}) ; legacy means updates before we were tracking the medium
    (r/run conn))

  true) ; return true on success