(ns oc.storage.db.migrations.MIGRATION-NAME
  (:require [rethinkdb.query :as r]
            [oc.lib.db.migrations :as m]
            [oc.storage.config :as config]))

(defn up [conn]
  ;; Do great things
  true) ; return true on success