{

  :topics ["update" "mission" "values" "highlights" "growth" "challenges" "takeaways" "team" "diversity" "product" "press" "customers" "sales" "marketing" "competition" "help" "kudos" "finances" "fundraising"]
  
  :categories [
    {
      :name "Progress"
      :column 1
      :order 1
      :sections ["update" "highlights" "growth" "challenges" "takeaways" "team" "kudos" "help"]
    }
    {
      :name "Market"
      :column 2
      :order 1
      :sections ["product" "customers" "sales" "marketing" "competition" "press"]
    }
    {
      :name "Finance"
      :column 3
      :order 1,
      :sections ["finances" "fundraising"]
    }
    {
      :name "Who We Are"
      :column 3
      :order 2
      :sections ["mission" "values" "diversity"]
    }
  ]

  :templates [

    {   
      :slug "custom-{4-char-UUID}"
      :title ""   
      :description "Custom topic"   
      :headline ""    
      :body-placeholder "What would you like to say..."   
      :body ""    
      :image-url  nil   
      :image-height 0   
      :image-width 0    
    }

    {
      :slug "mission"
      :title "Mission"
      :description "Why the organization exists"
      :headline ""
      :body-placeholder "Does everyone know what they’re fighting for? What is your mission?"
      :body ""
      :image-url  nil
      :image-height 0
      :image-width 0
    }

    {
      :slug "values"
      :title "Values"
      :description "Core values the organization lives by"
      :headline ""
      :body-placeholder "Core values are the fundamental beliefs of the organization. What are they?"
      :body ""
      :image-url  nil
      :image-height 0
      :image-width 0
    }

    {
      :slug "diversity"
      :title "Diversity"
      :description "Diversity goals and makeup"
      :headline ""
      :body-placeholder "What is the current state of diversity at your organization? What are your goals?"
      :body ""
      :image-url  nil
      :image-height 0
      :image-width 0
    }

    {
      :slug "competition"
      :title "Competition"
      :description "Key competitors and competitive threats"
      :headline ""
      :body-placeholder "What are your competitors up to? Are there any new external threats?"
      :body ""
      :image-url  nil
      :image-height 0
      :image-width 0
    }

    {
      :slug "update"
      :title "CEO Update"
      :description "organization update"
      :headline ""
      :body-placeholder "A quick take on what's happened since the last update."
      :body ""
      :image-url  nil
      :image-height 0
      :image-width 0
    }

    {
      :slug "highlights"
      :title "Highlights"
      :description "Milestones and accomplishments"
      :headline ""
      :body-placeholder "What new milestones or accomplishments are you most proud of?"
      :body ""
      :image-url  nil
      :image-height 0
      :image-width 0
    }

    {
      :slug "growth"
      :title "Key Metrics"
      :description "Key metrics and performance indicators"
      :headline ""
      :body-placeholder "Discuss recent performance. How are you doing against your targets? Click on the icon below to add a chart."
      :body ""
      :prompt "Enter the most important metric for the stakeholders of your organization. You'll be able
      to add more later."
      :metrics []
      :intervals [
        "weekly"
        "monthly"
        "quarterly"
      ]
      :units [
        {
          :unit "currency"
          :name "Currency"
        }
        {
          :unit "number"
          :name "Number"
        }
        {
          :unit "%"
          :name "Percent"
        }
      ]
    }

    {
      :slug "challenges"
      :title "Key Challenges"
      :description "Challenges facing the organization"
      :headline ""
      :body-placeholder "What are you most disappointed about, and what’s the plan to fix it? What threats should everyone be focused on?"
      :body ""
      :image-url  nil
      :image-height 0
      :image-width 0
    }

   {
      :slug "takeaways"
      :title "Lessons Learned"
      :description "What we've learned"
      :headline ""
      :body-placeholder "What’s something you recently learned about your business, customers, or product?"
      :body ""
      :image-url  nil
      :image-height 0
      :image-width 0
    }

    {
      :slug "team"
      :title "Team and Hiring"
      :description "Team and hiring update"
      :headline ""
      :body-placeholder "Welcome new hires, discuss open positions, and let everyone know about other team changes."
      :body ""
      :image-url  nil
      :image-height 0
      :image-width 0
    }

    {
      :slug "product"
      :title "Products"
      :description "Product release and roadmap update"
      :headline ""
      :body-placeholder "What's shipped recently and how has the roadmap changed? How is the market responding? What’s working? What’s not?"
      :body ""
      :image-url  nil
      :image-height 0
      :image-width 0
    }

    {
      :slug "customers"
      :title "Customers"
      :description "Customer update"
      :headline ""
      :body-placeholder "Is customer satisfaction trending up or down? How are you tracking it? What key issues do your customers have?"
      :body ""
      :image-url  nil
      :image-height 0
      :image-width 0
    }

    {
      :slug "marketing"
      :title "Marketing"
      :description "Notable marketing activities and results"
      :headline ""
      :body-placeholder "List any notable marketing activities since the last update. How are your current marketing efforts performing? Anything new planned?"
      :body ""
      :image-url  nil
      :image-height 0
      :image-width 0
    }

    {
      :slug "press"    
      :title "Press"   
      :description "Press mentions and PR activities"    
      :headline ""   
      :body-placeholder "List any notable press mentions since the last update. Provide an update on PR activities."   
      :body ""   
      :image-url  nil    
      :image-height 0    
      :image-width 0   
    }

    {
      :slug "sales"
      :title "Sales"
      :description "Notable sales activity and wins and losses"
      :headline ""
      :body-placeholder "Did you close any notable sales? What opportunities are in the pipeline?"
      :body ""
      :image-url  nil
      :image-height 0
      :image-width 0
    }

    {
      :slug "help"
      :title "How You Can Help"
      :description "Ask your stakeholders for help and ideas"
      :headline ""
      :body-placeholder "Where do you need the most help from your team and investors?"
      :body ""
      :image-url  nil
      :image-height 0
      :image-width 0
    }

    {
      :slug "kudos"
      :title "Kudos"
      :description "Celebrate great actions that helped the organization"
      :headline ""
      :body-placeholder "Who went above and beyond to help the organization? What did they do?"
      :body ""
      :image-url  nil
      :image-height 0
      :image-width 0
    }

    {
      :slug "finances"
      :title "Cash Flow"
      :description "Cash on hand, burn and runway"
      :headline ""
      :body-placeholder "Discuss the financial health of the business, and what's changed since the last update. Click on the icon below to add a chart."
      :body ""
      :data []
    }

    {
      :slug "fundraising"
      :title "Fundraising"
      :description "Updates on the fundraising process"
      :headline ""
      :body-placeholder "How much would you like to raise? How will you use the funds? Link to the pitch deck, and let everyone know how it’s going. If you’ve already raised, who are the new investors and what are the terms?"
      :body ""
      :image-url  nil
      :image-height 0
      :image-width 0
    }

  ]
}