(ns open-company.db.migrations.MIGRATION-NAME
  (:require [rethinkdb.query :as r]
            [oc.lib.rethinkdb.migration :as m]))

(defn up [conn]
  ;; Do great things
  true) ; return true on success