{
  ;; Entries
  :chance-of-entry 0.5 ; fraction of days that have updates
  :max-entries 5 ; on a day with updates, up to how many
  :chance-of-topic 0.7 ; fraction of updates with a topic
  :chance-of-headline 0.9 ; fraction of updates with a headline
  :max-headline-words 12 ; how many words in a headline
  :chance-of-body 0.9 ; fraction of updates with a body
  :max-paragraphs 5 ; maximum paragraphs of text in a body
  :chance-of-image 0.15 ; fraction of updates with a photo
  :chance-of-video 0.05 ; fraction of updates with a video
  :chance-of-chart 0.05 ; fraction of updates with a chart

  ;; Reactions - not yet used
  :chance-of-reaction 0.1 ; fraction of reactions (3 per entry) that are used per update
  :max-reactions 15 ; for a used reaction, up to how many

  ;; Comments - not yet used
  :chance-of-comment 0.15 ; fraction of entries that have comments
  :max-comments 10 ; for an entry with comments, up to how many

  ;; Authors
  :author-pool 15 ; how many different entry and comment authors
}