(ns oc.api.db.migrations.create-orgs
  (:require [rethinkdb.query :as r]
            [oc.lib.rethinkdb.migrations :as m]
            [oc.api.config :as c]
            [oc.api.resources.org :as org]))

(defn up [conn]
  
  (println "Creating table: " org/table-name)
  (println (m/create-table conn c/db-name org/table-name org/primary-key))
  (println (m/create-index conn org/table-name "org-id"))
  (println (m/create-index conn org/table-name "admins" {:multi true}))
  
  true) ; return true on success