(ns oc.api.db.migrations.create-topics
  (:require [rethinkdb.query :as r]
            [oc.lib.rethinkdb.migrations :as m]
            [oc.api.config :as c]
            [oc.api.resources.topic :as topic]))

(defn up [conn]
  
  (println "Creating table: " topic/table-name)
  (println (m/create-table conn c/db-name topic/table-name topic/primary-key))
  (println (m/create-index conn topic/table-name "slug"))
  (println (m/create-index conn topic/table-name "dashboard-slug"))
  (println (m/create-compound-index conn topic/table-name "slug-dashboard-slug"
              (r/fn [row] [(r/get-field row "slug") (r/get-field row "dashboard-slug")])))
  (println (m/create-index conn topic/table-name "created-at"))

  true) ; return true on success