{
  :user-id "1-4-1960"
  :name "camus"
  :real-name "Albert Camus"
  :avatar "http://www.brentonholmes.com/wp-content/uploads/2010/05/albert-camus1.jpg"
  :email "albert@combat.org"
  :owner true
  :admin true
}